@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Skranji&family=Yanone+Kaffeesatz:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --teal: #3c788a;
  --pink: #db847c;
  --dark: #0a2238;
}

h1, h3 {
  font-family: 'Open Sans';
}

h2 {
  font-family: 'Open Sans';
  text-align: center;
}

p, li, label {
  font-family: 'Open Sans';
  font-size: 18px;
  color: var(--dark);
}

a {
  color: var(--dark);
}


.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profileCards li {
  color: var(--dark);
}

input, textarea {
  margin: 10px;
}

.logo {
  height: 5em;
  width: auto;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.btn {
  background: var(--teal);
  outline: none;
  border: 1px solid var(--teal);
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  width: 50%;
  margin: 8px;
  cursor: pointer;
}

.btn-decline {
  background: white;
  outline: none;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 30px;
  color: red;
  width: 50%;
  margin: 8px;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  text-align: center; 
  margin-top: 40px;
}

.avatar {
  width: 8.5em;
  height: 8.5em;
  border-radius: 50%;
  object-fit: cover;
}

.inqueryCard {
  border: 2px solid var(--dark);
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: center;
}


.icon {
  font-size: 28px;
  margin: 10px 12px;
}

span {
  color: var(--dark);
  font-weight: bold;
}

.photoUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .profilePage {
  display: flex;
  flex-direction: row;
} */

.cal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cal-btn {
  margin: 20px 0;
  cursor: pointer;
}

.iqCard {
  width: 100%;
}

.inquiry-container {
  padding-top: 15px;
}